
@{
    ViewData["Title"] = "CreateMatchSecretaryUser";
    Layout = "~/Areas/GolfClubAdministrator/Views/Shared/_Layout.cshtml";
}

@model CreateGolfClubUserViewModel

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create Match Secretary User</h1>
                            </div>
                            <form id="createMatchSecretaryForm" asp-action="CreateMatchSecretaryUser" asp-area="GolfClubAdministrator" asp-controller="Home" method="post" class="user">
                                <div class="form-group">
                                    <input asp-for="GivenName" class="form-control form-control-user" placeholder="First Name" required autofocus />
                                </div>

                                <div class="form-group">
                                    <input asp-for="MiddleName" class="form-control form-control-user" placeholder="Middle Name" autofocus />
                                </div>

                                <div class="form-group">
                                    <input asp-for="FamilyName" class="form-control form-control-user" placeholder="Last Name" autofocus />
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Email" class="form-control form-control-user" placeholder="Email" required autofocus />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input asp-for="TelephoneNumber" class="form-control form-control-user" placeholder="Telephone Number" autofocus />
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block"><i class="fa fa-plus"></i> Create User</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

