@{
    ViewBag.Title = "Welcome";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Golf Club Management and Administration</h1>
    <p class="lead">Manage your golf club, tournament and members details and their handicaps with ease.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Golf Club</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Manage club details</li>
                    <li>Manage measured courses</li>
                    <li>Membership Management</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Learn More</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Tournament</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Manage Club Tournaments</li>
                    <li>Player Score Entry</li>
                    <li>Produce and View Results</li>
                    <li>Handicap Calculation</li>
                    <li>Manual Handicap Adjustments</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Learn More</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Members</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Manage members details</li>
                    <li>Manage members subscriptions</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Learn More</button>
            </div>
        </div>
    </div>

