@model object

@{
    ViewBag.Title = "Golf Club Administrator Registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Golf Club Management and Administration</h1>
</div>

<div class="container">
    Thank you for registering your interest to the Golf Club Handicap Administration Website. You should receive a confirmation email shortly with your user name and password reminder.
    <br />
    <br />
    Before you can be given access to the website we need to verify your email address. A link will be in the registration email sent to you.
    <br />
    <br />
    If you need any help using the website please email the Development Office or call them on 01865 123456.
</div>